body {
  background-color: black;
}

.revenant {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  height: 3%;
  margin-top: 20%;

}

.enter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  height: 3%;
  margin-top: 20%;

}

audio { display:none;}
